/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-image: url("./img/bg.jpg");
  padding: 10px;
}

body > div {
  background-color: white;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
  border: 2px solid #ffd24a;
  margin: 0 auto;
  width: 75%;
}

header {
  background-color: #ff8523;
  padding: 10px;
}

nav {
  padding: 15px 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px 23px;
}

h2, h3, section a {
  color: #1fabe5;
}

#page_content {
  margin: 20px;
}

ul li {
  font-weight: bold;
}

#page_content > section {
  padding: 10px 0 50px 0;
  border-bottom: 5px solid #eee;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}

thead {
  background-color: #1fabe5;
  color: white;
}

thead  td {
  border-spacing: 0;
  border: 1px solid #046c97;
  padding: 5px 10px;
}

tbody td {
  padding: 5px 10px;
  border: 1px solid #1fabe5;
}

table img {
  height: 100px;
  width: 100px;
  padding: 10px;
}

form {
  background-color: #dddddd;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.8em;
}

form div.name {
  background-color: #ff8523;
  color: white;
  font-weight: normal;
  padding: 15px;
  border-radius: 5px;
}

form div.name input {
  border: white;
  height: 30px;
  width: 30%;
  margin: 0 auto;
  padding: 0 15px;
}

form div.city_container {
  padding: 15px;
}
